@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
*{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    box-sizing: border-box;
  


}
body{
    background: #0A0D1C;
    overflow-x: hidden;
    @media (max-width:480px) {
        
        
    }

}

nav{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 5%;

gap: 1rem;



}
nav a{
    text-decoration: none;
    color: aliceblue;
    @media (max-width:480px) {
       font-size: 7px;
    
        
    }

}
nav a:nth-child(2):hover{
    text-decoration: none;
    color: aliceblue;
    background: cyan;
    border-radius: 25px;
    transform: scale(0.8);
    transition: 0.3s;
  
    justify-content: center;
    height: 30px;
    @media (max-width:480px) {
      transform: scale(0.5);
      
     }

}
nav a:nth-child(3):hover{
    text-decoration: none;
    color: aliceblue;
    background:cyan;
    border-radius: 25px;
    transform: scale(0.8);
    transition: 0.3s;
  
    justify-content: center;
    height: 30px;
    @media (max-width:480px) {
        transform: scale(0.5);
        
       }
}
nav a:nth-child(4):hover{
    text-decoration: none;
    color: aliceblue;
    background:cyan;
    border-radius: 25px;
    transform: scale(0.8);
    transition: 0.3s;
  
    justify-content: center;
    height: 30px;
    @media (max-width:480px) {
        transform: scale(0.5);
        
       }
}
nav a:nth-child(5):hover{
    text-decoration: none;
    color: aliceblue;
    background:cyan;
    border-radius: 25px;
    transform: scale(0.8);
    transition: 0.3s;
  
    justify-content: center;
    height: 30px;
    @media (max-width:480px) {
        transform: scale(0.5);
        
       }
}
nav a:nth-child(6):hover{
    text-decoration: none;
    color: aliceblue;
    background:cyan;
    border-radius: 25px;
  transform: scale(0.8);
  transition: 0.3s;
    justify-content: center;
    height: 30px;
    @media (max-width:480px) {
        transform: scale(0.5);
        
       }
}
.ram{
    position: absolute;
    color: aliceblue;
    right: 80%;
    transition: 1s;
    animation: ram infinite 1s;
    @media (max-width:480px) {
        font-size: 10px;
        left: 10%;
    }

 
}
@keyframes ram {
    from{
        color: cyan;
    }
    to{
        color: white;
    }
    
}

.interface{
    height: 100dvh;
    width: 100dvw;
    background: #0A0D1C;
    @media (max-width:480px) {
        height: 300px;
    }

}
.interface img{
    height: 90%;
    position: absolute;
    top: 11%;
    left: 59%;
    @media (max-width:480px) {
        height: 250px;
        left: 45%;
        top: 9%;
    }


}

#hello{
  color: aliceblue;
  font-size: 300px;
  position: relative;
  top: 4%;
  left: 10%;
  background: rgba(255, 255, 255, 0.1); /* Transparent white background */
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-style: normal;
  @media (max-width:480px) {
   font-size: 100px;
   top: 10%;
    
}

}

#im{
    font-family: "Exo 2", serif;

    color: aliceblue;
    font-size: 60px;
    position: relative;
    left: 12%;
    top: -8%;
    @media (max-width:480px) {
        font-size: 20px;
        top: 2%;
    }


}
#shree{
    font-family: "Exo 2", serif;

    font-size: 40px;
    position: relative;
    left: 12%;
    top: -12%;

background: linear-gradient( 91.7deg,  rgba(135,206,235,1) 7.3%, rgba(255,154,139,1) 40.3%, rgba(255,195,160,1) 57.9%, rgba(255,215,0,1) 93.5% );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: name infinite 3s;
    @media (max-width:480px) {
        font-size: 15px;
        top: 1%;
    }

}
   @keyframes name {
    from{
        background-position:0px;
    }
    to{
        background-position:350px;
    }
    
   }
   #line{
    height: 1px;
    width: 60px;
    background: cyan;
    border-radius:25px;
    position: relative;
    top: -12%;
    left: 12%;
    animation: line infinite 3s;
    @media (max-width:480px) {
        font-size: 30px;
        top: 2%;
        width: 10px;
        animation:line3 infinite 3s ;
    }
   }
   @keyframes line3 {
    from{
        width:0px;
    }
    to{
        width: 130px;
    }
}
   @keyframes line {
    from{
        width:0px;
    }
    to{
        width: 350px;
    }
   }
   #front{
    color: aliceblue;
    font-size: 15px;
    position: relative;
    top: -12%;
    left: 12%;
     width: 350px;
     @media (max-width:480px) {
        font-size: 8px;
        left: 12%;
        top: 2.5%;
    }
        
   }
   #cv{
    position: relative;
    top: -11%;
    left: 12%;
    border-radius: 16px;
    color: aliceblue;
     height: 34px;
     width: 80px;
   

    background: cyan;
    @media (max-width:480px) {
        font-size: 15px;
        top: 3%;
        height: 28px;
        width: 75px;
        
    }
 
   }
   

   #cv:hover{
    transform: scale(0.8);
   }
   .about{
    height: 100dvh;
    width: 100dvw;
    background: #3A3F5C;
    @media (max-width:480px) {
        height: 350px;
        background: #3A3F5C;


    }

   }
.about img{
    height: 60%;
    position: relative;
    left: 10%;
    top: 30%;
    box-shadow: 0 0 20px 10px cyan;
    @media (max-width:480px) {
       height: 120px;
       top: 28%;
       left: 8%;
    }
    
    
}
#about{
    position: relative;
    left: 45%;
    top: -60%;
    font-size:130px ;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    backdrop-filter: blur(10px); /* Frosted glass blur */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
  font-size: 50px;
        top: -125px;
        width: 180px;
        
        
    }

}
#bio{
    color: aliceblue;
    position: relative;
    left: 45%;
    top: -62%;
    background: #0A0D1C;
    width: 4%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    @media (max-width:480px) {
        font-size: 10px;
        top: -125px;
        width: 20px;
    }


}
#myself{
    color: aliceblue;
    width: 50%;
    position: relative;
    left: 45%;
    top: -59%;
    @media (max-width:480px) {
        font-size: 8px;
        top: -125px;
     }
    
}
#education{
    color: aliceblue;
    width: 50%;
    position: relative;
    left: 45%;
     top: -57%;
     @media (max-width:480px) {
      display: none;
    }
}
#age{
    color: cyan;
    position: relative;
    left: 45%;
    top: -55%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 10px;
        top: -125px;
     }


}
mark{
    color: aliceblue;
    background: transparent;
}
#free{
    color: cyan;
    position: relative;
    left: 45%;
    top: -52%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 8px;
        top: -125px;
     }
}
#phone{
    color: cyan;
    position: relative;
    left: 45%;
    top: -48%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 8px;
        top: -125px;
     }
}
#nation{
    color: cyan;
    position: relative;
    left: 70%;
    top: -70%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 9px;
        top: -175px;
     }
}
#address{
    color: cyan;
    position: relative;
    left: 70%;
    top: -66%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 8px;
        top: -172px;
     }
}
#email{
    color: cyan;
    position: relative;
    left: 70%;
    top: -62%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 8px;
        top: -172px;
        mark{
            font-size: 5px;
        }
     }

}
.skills{
    height: 100dvh;
    width: 100dvw;
    background: #0A0D1C;
    @media (max-width:480px) {
        height: 300px;
        background: #0A0D1C;


    }


}
#skill{
    position: relative;
    left: 35%;
    font-size:130px ;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    backdrop-filter: blur(10px); /* Frosted glass blur */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width:480px) {
        font-size: 60px;
        left: 90px;
        
    }

}
#hi{
    color: aliceblue;
    position: relative;
    left: 45%;
    background: #3A3F5C;
    width: 15%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    @media (max-width:480px) {
        width:82px;
        height: 25px;
        font-size: 8px;
        left: 140px;
    }
}
#html{
    color: cyan;
    font-size: 25px;
    position: relative;
    top: 8%;
    left: 30%;
    @media (max-width:480px) {
        font-size: 15px;
        left: 25px;

        
    }

}
#ht{
    width: 500px;   
    @media (max-width:480px) {
        width: 250px;
    }
}
#css{
    color: cyan;
    font-size: 25px;
    position: relative;
    top:10% ;
    left: 32.3%;
    @media (max-width:480px) {
        font-size: 15px;
        left: 50px;

        
    }
}
#js{
    color: cyan;
    font-size: 25px;
    position: relative;
    top:12% ;
    left: 24.3%;
    @media (max-width:480px) {
        font-size: 12px;
        left:12px;

        
    }
}
#react{
    color: cyan;
    font-size: 25px;
    position: relative;
    top:15% ;
    left: 27%;
    @media (max-width:480px) {
        font-size: 14px;
        left:12px;

        
    }
}
.projects{
    height: 100dvh;
    width: 100dvw;
    background: #3A3F5C;
    @media (max-width:480px) {
        height: 350px;
        background: #3A3F5C;


        
    }


}
#project{
    color: aliceblue;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    left: 35%;
    object-fit: cover;
    @media (max-width:480px) {
        font-size: 50px;
        left: 60px;
    }
}
#dhootha{
    width: 250px;
    height: 400px;
    border-radius: 25px;
    position: relative;
    left: 20%;
    top: 2%;
    @media (max-width:480px) {
       height: 200px;
       width: 100px;
       left: 10px;
       top: 20px;
    }
}
#art{
    width: 300px;
    border-radius: 25px;
    position: relative;
    left:21%;
    top: -36%;
    @media (max-width:480px) {
        width: 140px;
        left: 9px;
        top:-90px ;
     }
}
#college{
    width: 300px;
    height: 200px;
    border-radius: 25px;
    position: relative;
    left:-3%;
    @media (max-width:480px) {
        width: 150px;
        left: 111px;
        top:-190px;
        height: 100px;

     }

}
#port{
    width: 300px;
    height: 380px;
    border-radius: 25px;
    position: relative;
    left:-2%;
    @media (max-width:480px) {
        height: 200px;
        width: 90px;
        left: 110px;
        top: -190px;
     }


}
.contact{
    height: 100dvh;
    width: 100dvw;
    background: #0A0D1C;
    @media (max-width:480px) {
       height: 550px;
       background: #0A0D1C;

        
    }

}
#con{
    color: aliceblue;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    left: 35%;
    @media (max-width:480px) {
        font-size: 60px;
        left: 35px;
    }

}
.container{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    height: 350px;
    width: 400px;
    position: relative;
    left: 38%;
    top: 8%;
 border-radius: 25px;
 @media (max-width:480px) {
    width: 280px;
    left: 40px;
    
 }
}
input[type="email"]{
    position: relative;
    left: 9%;
    top: 15%;
    width:300px;
    border-radius: 25px;
    height: 40px;
    @media (max-width:480px) {
        width: 250px;
        
    }
   
}
textarea[name="message"]{
    position: relative;
    left: 9%;
    top: 20%;
    width:300px;
    border-radius: 25px;
    height: 40px;
    @media (max-width:480px) {
        width: 250px;
        
    }
   
}
.container button{
    position: relative;
    top: 38%;
    left: -65%;
    height: 50px;
    border-radius: 25px;
    width: 80px;
    background: #0A0D1C;
    color: aliceblue;
    @media (max-width:480px) {
     left: 40px;
        
    }

}
.container button:hover{
    transform: scale(0.8);
}
footer{
    height: 60dvh;
    width: 100dvw;
    background:#3A3F5C;
    border-top: 2px solid cyan;
    display: flex;
    flex-shrink: 1;
    overflow-y: hidden;
    @media (max-width:480px) {
        height: 1200px;
        width: 400px;
        
    }
}
#foot{
    color: cyan;
    font-family: "Mea Culpa", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: relative;
  left: 10%;
  top: 5%;
  @media (max-width:480px) {
    top: 2px;
    left: 100px;
    
}

}
#inform{
    width: 350px;
    color: aliceblue;
    position: relative;
    top: 25%;
    @media (max-width:480px) {
      font-size: 8px;
      top:80px;
      left: -10px;
      font-size: 10px;
      height: 500px;
        
    }
}
#quick{
    color: cyan;
    font-family: "Mea Culpa", serif;
    font-weight: 400;
  font-style: normal;
  font-size: 40px;
    position: relative;
    top: 5%;
    left: 8%;
    @media (max-width:480px) {
        font-size: 25px;
        top: 520px;
        left: -80px;
        
    }
}
.link{
    width: 10px; 
    position: relative;
    top: 25%;
    @media (max-width:480px) {
        font-size: 18px;
        top: 580px;
        left: -130px;
        
    }
    
}
.link a{
    text-decoration: none;
    color: aliceblue;
    
    

    
}
.link a:hover{
    color: cyan;
}
#service{
    color: cyan;
    font-family: "Mea Culpa", serif;
    font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: relative;
  left: 12%;
  top: 5%;
  @media (max-width:480px) {
    font-size: 35px;
    top: 680px;
    left: -140px;
    
}
}
footer ul{
    color:aliceblue;
    position: relative;
    top: 25%;
    left: 5%;
  @media (max-width:480px) {
    top: 750px;
    left: -210px;

}
}
#social{
    color: cyan;
    font-family: "Mea Culpa", serif;
    font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: relative;
  left: 10%;
  top: 5%;
  @media (max-width:480px) {
    top: 850px;
    left: -350px;

}
}
#linked{
    color:aliceblue;
    position: relative;
    top: 28%;
    @media (max-width:480px) {
        top: 980px;
        left: -450px;
    
    }
}
#linked:hover{
color: cyan;
}
#insta{
    color:aliceblue;
    position: relative;
    top: 28%;
    left: 1%;
    @media (max-width:480px) {
        top: 980px;
        left: -450px;
    
    }

}
#insta:hover{
    color: cyan;
}
#git{
    color:aliceblue;
    position: relative;
    top: 28%;
    left: 2%;
    @media (max-width:480px) {
        top: 980px;
        left: -450px;
    
    }
}
#git:hover{
    color: cyan;
}
#copy{
    color: aliceblue;
    position: relative;
    left: -45%;
    top: 85%;
    @media (max-width:480px) {
        top: 1100px;
        left: -500px;
    
    }
}